nav h3 {
  margin: 0;
  color: white;
}
nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 80px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  align-self: start;
}
.nav-menu li {
  background-color: white;
  padding: 16px;
  cursor: pointer;
}
