body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav h3 {
  margin: 0;
  color: white;
}

nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 80px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}

.nav-menu li {
  cursor: pointer;
}

.container {
  display: flex;
  min-height: 80vh;
}

.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
}
.sidebar a {
  text-decoration: none;
  color: black;
}
.sidebar a:hover {
  color: blue;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fafafa;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
